$color : #000000;


.container {
    h1 {
        color: $color;
    }

    ul {
        li {
            list-style: none;
            .name {
                color: $color;
                font-size: 30px;
            }

            .age {
                color: $color;
                font-size: 20px;
            }
        }
    }

}